extends layout

block content
    header
        h1 © Dotma Productions - How long has JZ been XP Wasting?
    main
        section
            p How long has JZ been XP Wasting? 😂
            h1 JZ HAS BEEN XP WASTING FOR 
                span#wasted-hours  ?
                |  HOUR(S) AND 
                span#wasted-minutes  ? 
                |  MINUTE(S)
            p.end XP Wasting Since :
                span#wasting-since ?
    section.stats
        p.gains
            span#xp-diff ? 
            |  xp gained since last update
    script(src="scripts/index.js")